
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

h1 {
    color:purple;
    font-family:fantasy;
    font-style: italic;
    font-weight: 100;
    position: fixed;
    top: 1px;
}
#logInSignUpBox {
    margin: auto;
    width: 300px;
    padding: 10px;
    border: 5px solid purple;
    background-color: rgb(205, 245, 243);
    text-align: center;
    grid-column: 1 / 3;
}
h2 {
    color: purple;
    font-family:fantasy;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}

h3 {
    color: purple;
    font-family:fantasy;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.blue {
    background:rgb(205, 245, 243);
}

#basicLayout {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: 60px 400px; 
}

#basic {
    grid-column: 1 / 3;
    text-align: center;
}

#basicLayout > div{
    text-align: center;
    border-bottom: 5px solid purple
}

#homeLayout {
    display: grid;
    grid-template-columns: 350px auto 250px;
    grid-template-rows: 60px 525px;   
}

#homeLayout > div {
    text-align: center;
    border-bottom: 5px solid purple;
}

#profile {
    display: grid;
    grid-template-columns: 150px auto;
    padding: 30px;
    border-left: 5px solid purple;
    border-right: 5px solid purple;
}
/*
#profile > div {
    text-align: left;
}
*/
#profInfo {
    text-align: left;
}

#name {
    text-align: left
}

#upload {
    grid-column: 1 / 3;
}

.stars {
    color:rgb(205, 245, 243);
    font-size: 30px;
    cursor: pointer;
}

#options {
    grid-column: 1 / 3;
}

#listLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
    padding: 30px;
    border-left: 5px solid purple;
    border-right: 5px solid purple;
}

#popUp {
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 75px;
    padding-top: 50px;
    padding-bottom: 35px;
    border: 5px solid purple;
    background-color: white;
}

button {
    color: purple;
    font-family: fantasy;
    font-size: medium;
    background-color: rgb(205, 245, 243);
    border-radius: 4px;
    border: groove rgb(117, 186, 181);
    padding: 2px;
    cursor: pointer;
}

select {
    color: purple;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    border: solid rgb(235, 177, 235);
}

#signUpButton {
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-color: white;
    border: solid purple;
}

#logInButton {
    color: purple;
    font-family: fantasy;
    font-size: medium;
    background-color: white;
    border: solid purple;
}

#showLayout {
    display: grid;
    grid-template-columns: 350px 150px auto;
    grid-template-rows: 60px 525px;  
}

#showLayout > div {
    border-top: 5px solid purple;
    text-align: center;
}

#friendRev {
    border-right: 5px solid purple;
}

.myRev {
    padding: 20px;
}
