
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

h1 {
    color: white;
    font-family:fantasy;
    font-style: italic;
    font-weight: 100;
    position: fixed;
    top: 1px;
    cursor: pointer;
}
#logInSignUpBox {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 10px;
    border: 5px solid rgb(99, 23, 99);
    background-color: rgb(205, 245, 243);
    text-align: center;
    grid-column: 1 / 3;
}
h2 {
    color: rgb(99, 23, 99);
    font-family:fantasy;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}

h3 {
    color: white;
    font-family:fantasy;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

h4 {
    color:rgb(99, 23, 99);
    font-family: fantasy;
    font-style: italic;
    font-weight: 100;
}

/*
#basicLayout {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: 60px 400px; 
}

#basic {
    grid-column: 1 / 3;
    text-align: center;
}
*/
/*
#basicLayout > div{
    text-align: center;
    border-bottom: 5px solid purple;
}
*/
#homeLayout {
    display: grid;
    grid-template-columns: 350px auto 250px 0px;
    grid-template-rows: 60px 545px;   
    margin: 0px;
}
/*
#homeLayout > div {
    text-align: center;
    border-top: 5px solid purple;
}
*/
#profile {
    display: grid;
    grid-template-columns: 150px auto;
    padding: 30px;
    border-left: 5px solid rgb(99, 23, 99);
    border-right: 5px solid rgb(99, 23, 99);
}
/*
#profile > div {
    text-align: left;
}
*/
#profInfo {
    text-align: left;
}

#name {
    text-align: left
}

#upload {
    grid-column: 1 / 3;
}

.stars {
    color:rgb(205, 245, 243);
    font-size: 30px;
    cursor: pointer;
}

#options {
    grid-column: 1 / 3;
}

#listLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 45px auto 100px;
    padding: 30px;
    border-left: 5px solid rgb(99, 23, 99);
    border-right: 5px solid rgb(99, 23, 99);
    margin: 0px;
}

#popUp {
    display: none;
    position:fixed;
    top:50%;
    left:54%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 90px;
    padding-bottom: 35px;
    border: 5px solid rgb(99, 23, 99);
    background-color: white;
}

button {
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(99, 23, 99);
    border-radius: 6px;
    border: none;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}

select {
    color:rgb(99, 23, 99);
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border:solid black;
}

#showLayout {
    display: grid;
    grid-template-columns: 350px 200px auto 300px;
    grid-template-rows: 60px 525px;  
    margin: 0px;
}

#showLayout > div, #homeLayout > div, #basicLayout > div {
    text-align: center;
}

#basicLayout {
    grid-template-rows: 60px 525px;
    margin: 0px;
}

#friendRev {
    border-right: 8px solid rgb(99, 23, 99);
}

.myRev {
    padding: 20px;
    
}

.header {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 350px auto 150px 100px;
    background-color: rgb(99, 23, 99);
    padding: 3px;
}

.labels {
    text-decoration: underline;
}

#review {
    color: rgb(109, 7, 109);
}

li {
    font-size: 14pt;
    font-weight: bold;
}
